BankWebService/Wsdl.xml

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localhost.com">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://localhost.com">
<s:element name="LoanResponse">
<s:complexType/>
</s:element>
<s:element name="LoanResponseResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="LoanResponseResult" type="tns:InterestRate"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="InterestRate">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="ssn" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="interestRate" type="s:double"/>
</s:sequence>
</s:complexType>
<s:element name="InterestRate" nillable="true" type="tns:InterestRate"/>
</s:schema>
</wsdl:types>
<wsdl:message name="LoanResponseSoapIn">
<wsdl:part name="parameters" element="tns:LoanResponse"/>
</wsdl:message>
<wsdl:message name="LoanResponseSoapOut">
<wsdl:part name="parameters" element="tns:LoanResponseResponse"/>
</wsdl:message>
<wsdl:message name="LoanResponseHttpGetIn"/>
<wsdl:message name="LoanResponseHttpGetOut">
<wsdl:part name="Body" element="tns:InterestRate"/>
</wsdl:message>
<wsdl:message name="LoanResponseHttpPostIn"/>
<wsdl:message name="LoanResponseHttpPostOut">
<wsdl:part name="Body" element="tns:InterestRate"/>
</wsdl:message>
<wsdl:portType name="TestWebServiceSoap">
<wsdl:operation name="LoanResponse">
<wsdl:input message="tns:LoanResponseSoapIn"/>
<wsdl:output message="tns:LoanResponseSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="TestWebServiceHttpGet">
<wsdl:operation name="LoanResponse">
<wsdl:input message="tns:LoanResponseHttpGetIn"/>
<wsdl:output message="tns:LoanResponseHttpGetOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="TestWebServiceHttpPost">
<wsdl:operation name="LoanResponse">
<wsdl:input message="tns:LoanResponseHttpPostIn"/>
<wsdl:output message="tns:LoanResponseHttpPostOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="TestWebServiceSoap" type="tns:TestWebServiceSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="LoanResponse">
<soap:operation soapAction="http://localhost.com/LoanResponse" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="TestWebServiceSoap12" type="tns:TestWebServiceSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="LoanResponse">
<soap12:operation soapAction="http://localhost.com/LoanResponse" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="TestWebServiceHttpGet" type="tns:TestWebServiceHttpGet">
<http:binding verb="GET"/>
<wsdl:operation name="LoanResponse">
<http:operation location="/LoanResponse"/>
<wsdl:input>
<http:urlEncoded/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="TestWebServiceHttpPost" type="tns:TestWebServiceHttpPost">
<http:binding verb="POST"/>
<wsdl:operation name="LoanResponse">
<http:operation location="/LoanResponse"/>
<wsdl:input>
<mime:content type="application/x-www-form-urlencoded"/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="TestWebService">
<wsdl:port name="TestWebServiceSoap" binding="tns:TestWebServiceSoap">
<soap:address location="http://localhost:6078/BankWS.asmx"/>
</wsdl:port>
<wsdl:port name="TestWebServiceSoap12" binding="tns:TestWebServiceSoap12">
<soap12:address location="http://localhost:6078/BankWS.asmx"/>
</wsdl:port>
<wsdl:port name="TestWebServiceHttpGet" binding="tns:TestWebServiceHttpGet">
<http:address location="http://localhost:6078/BankWS.asmx"/>
</wsdl:port>
<wsdl:port name="TestWebServiceHttpPost" binding="tns:TestWebServiceHttpPost">
<http:address location="http://localhost:6078/BankWS.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>